//! Değişkenler
// Çok kullanacağımız renkler,pixel değerleri gibi
// değerler bulunuyorsa her seferinde yazmak yerine
// değişkene atayıp kullanacağız.
$black: rgb(45, 37, 37);
$font: 30px;
$white: rgb(255, 255, 255);
$pad: 10px;
$radius: 20px;
$aFont: 20px;
$headerPadding: 20px;
